Repository ecmwf/anemoi-core, pull requests merged in 2025-06, with the labels that each got.

#324 chore(main): Release models 0.7.0
  .release-please-manifest.json
  models/CHANGELOG.md
Labels: models, autorelease: pending

#322 fix(training, models): Update interpolator to work with new features
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/models/ens_encoder_processor_decoder.py
  models/src/anemoi/models/models/interpolator.py
  training/src/anemoi/training/train/forecaster/interpolator.py
Labels: bug, training, models

#361 ci: Remove release tests, test main for release
  .github/workflows/python-pull-request.yml
  .github/workflows/python-release-tests.yml
Labels: CI/CD

#351 fix(deps): correct anemoi-models dependency version
  training/pyproject.toml
Labels: training, models, config

#355 feat(graphs): add GridsMask node attribute builder
  graphs/docs/graphs/node_attributes/anemoi_dataset_attribute.rst
  graphs/docs/graphs/yaml/attributes_grids.yaml
  graphs/docs/modules/node_attributes.rst
  graphs/src/anemoi/graphs/nodes/attributes/__init__.py
  graphs/src/anemoi/graphs/nodes/attributes/masks.py
  graphs/src/anemoi/graphs/schemas/node_attributes_schemas.py
  graphs/tests/conftest.py
  graphs/tests/nodes/attributes/test_masks.py
Labels: graphs, ATS Approval Not Needed

#121 feat(models,training): Shard everything
  models/src/anemoi/models/distributed/graph.py
  models/src/anemoi/models/distributed/primitives.py
  models/src/anemoi/models/distributed/shapes.py
  models/src/anemoi/models/distributed/transformer.py
  models/src/anemoi/models/interface/__init__.py
  models/src/anemoi/models/layers/mapper.py
  models/src/anemoi/models/layers/processor.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/models/ens_encoder_processor_decoder.py
  models/src/anemoi/models/models/hierarchical.py
  models/src/anemoi/models/models/interpolator.py
  models/src/anemoi/models/schemas/models.py
  training/docs/user-guide/distributed.rst
  training/src/anemoi/training/config/hierarchical.yaml
  training/src/anemoi/training/config/model/gnn.yaml
  training/src/anemoi/training/config/model/gnn_ens.yaml
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/config/model/graphtransformer_ens.yaml
  training/src/anemoi/training/config/model/transformer.yaml
  training/src/anemoi/training/config/model/transformer_ens.yaml
  training/src/anemoi/training/config/model/transformer_transformermapper.yaml
  training/src/anemoi/training/data/grid_indices.py
  training/src/anemoi/training/diagnostics/callbacks/plot.py
  training/src/anemoi/training/distributed/ensemble.py
  training/src/anemoi/training/distributed/strategy.py
  training/src/anemoi/training/losses/base.py
  training/src/anemoi/training/losses/kcrps.py
  training/src/anemoi/training/losses/rmse.py
  training/src/anemoi/training/train/forecaster/ensforecaster.py
  training/src/anemoi/training/train/forecaster/forecaster.py
  training/src/anemoi/training/train/forecaster/interpolator.py
  training/src/anemoi/training/train/profiler.py
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.yaml
Labels: enhancement, training, models, config

#330 feat(graphs): build nodes from xarray compatible data
  graphs/docs/graphs/node_coordinates/xarray_file.rst
  graphs/pyproject.toml
  graphs/src/anemoi/graphs/nodes/__init__.py
  graphs/src/anemoi/graphs/nodes/builders/from_file.py
  graphs/src/anemoi/graphs/schemas/node_schemas.py
  graphs/tests/conftest.py
  graphs/tests/nodes/attributes/test_masks.py
  graphs/tests/nodes/test_anemoi_dataset.py
  graphs/tests/nodes/test_cutout_nodes.py
  graphs/tests/nodes/test_from_xarray.py
Labels: documentation, training, models, graphs, config, CI/CD, contributor, ATS Approval Not Needed

#363 fix: SphericalAreaWeights
  graphs/src/anemoi/graphs/generate/transforms.py
  graphs/src/anemoi/graphs/nodes/attributes/area_weights.py
Labels: graphs, ATS Approval Not Needed

#369 fix: Plotting error when precip related params are not diagnostic
  training/src/anemoi/training/config/interpolator.yaml
  training/src/anemoi/training/diagnostics/plots.py
Labels: bug, training, ATS Approval Not Needed

#321 fix: Use transforms: Variable for ExtractVariableGroupAndLevel
  training/docs/modules/losses.rst
  training/pyproject.toml
  training/src/anemoi/training/config/training/default.yaml
  training/src/anemoi/training/losses/scalers/variable_level.py
  training/src/anemoi/training/schemas/training.py
  training/src/anemoi/training/utils/variables_metadata.py
  training/tests/unit/utils/test_variable_grouping.py
Labels: training, CI/CD, ATS Approved, ATS Approval Needed

#148 feat: Log FTT2 loss + Fourier Correlation loss
  training/docs/modules/losses.rst
  training/src/anemoi/training/losses/spatial.py
  training/tests/unit/train/test_loss_function.py
Labels: training, ATS Approval Not Needed

#379 fix(graphs): throw error instead of raising warning when graph exists.
  graphs/src/anemoi/graphs/create.py
Labels: graphs, contributor

#303 feat: Add metadata back to pl checkpoint.
  training/docs/troubleshooting.rst
  training/src/anemoi/training/diagnostics/callbacks/checkpoint.py
  training/src/anemoi/training/train/train.py
Labels: training, ATS Approval Not Needed
