Repository ecmwf/anemoi-core, pull requests merged in 2025-05, with the labels that each got.

#291 fix: clean params complement
  training/src/anemoi/training/diagnostics/mlflow/logger.py
  training/src/anemoi/training/diagnostics/mlflow/utils.py
  training/tests/unit/diagnostics/mlflow/test_cleaning.py
Labels: training

#292 ci: refactor test pr workflow
  .github/workflows/python-pull-request.yml
  .github/workflows/python-release-tests.yml
Labels: CI/CD, ATS Approved

#300 fix: Adapt ensemble configs to work with loss refactor.
  training/src/anemoi/training/config/debug_ens.yaml
  training/src/anemoi/training/config/training/ensemble.yaml
Labels: training, ATS Approval Not Needed

#304 fix(training): no logging variable metadata to mlflow
  training/src/anemoi/training/diagnostics/mlflow/utils.py
Labels: training

#295 ci: add notify-team step for integration test workflow
  .github/workflows/integration-tests.yml
Labels: CI/CD, ATS Approval Not Needed

#306 test: restart training
  training/tests/integration/config/test_config.yaml
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
Labels: training

#317 fix: Move scaler to device in scale
  training/src/anemoi/training/losses/base.py
  training/src/anemoi/training/losses/scaler_tensor.py
Labels: bug, training

#236 ci: hpc gpu integration test
  .github/workflows/integration-tests-hpc.yml
Labels: CI/CD, ATS Approval Not Needed, WP4

#179 feat: transformer mapper
  models/src/anemoi/models/layers/attention.py
  models/src/anemoi/models/layers/block.py
  models/src/anemoi/models/layers/mapper.py
  models/src/anemoi/models/schemas/common_components.py
  models/src/anemoi/models/schemas/decoder.py
  models/src/anemoi/models/schemas/encoder.py
  models/src/anemoi/models/schemas/models.py
  models/src/anemoi/models/schemas/processor.py
  models/tests/layers/block/test_block_transformermapper.py
  models/tests/layers/mapper/test_transformer_mapper.py
  models/tests/layers/test_attention.py
  training/src/anemoi/training/config/model/transformer.yaml
  training/src/anemoi/training/config/model/transformer_transformermapper.yaml
Labels: bug, enhancement, training, models, CI/CD, ATS Approved

#287 fix(graphs,directions): fix error with direction computation
  graphs/src/anemoi/graphs/create.py
  graphs/src/anemoi/graphs/edges/attributes.py
  graphs/src/anemoi/graphs/edges/directional.py
  graphs/tests/edges/test_direction.py
Labels: bug, graphs, ATS Approval Not Needed

#299 chore(main): Release graphs 0.6.0
  .release-please-manifest.json
  graphs/CHANGELOG.md
Labels: graphs, autorelease: pending

#325 test: add integration test for the crps ensemble
  training/src/anemoi/training/config/ensemble_crps.yaml
  training/src/anemoi/training/config/training/ensemble.yaml
  training/src/anemoi/training/schemas/training.py
  training/tests/integration/config/test_ensemble_crps.yaml
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
Labels: training, ATS Approval Not Needed

#328 chore: synced file(s) with ecmwf/reusable-workflows
  .github/pull_request_template.md
  .github/workflows/label-public-pr.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/pr-labeller.yml
  .gitignore
  .pre-commit-config.yaml
  graphs/src/anemoi/graphs/edges/attributes.py
  models/src/anemoi/models/preprocessing/imputer.py
  training/src/anemoi/training/diagnostics/callbacks/checkpoint.py
  training/src/anemoi/training/diagnostics/callbacks/stopping.py
  training/src/anemoi/training/losses/scaler_tensor.py
  training/src/anemoi/training/losses/utils.py
  training/src/anemoi/training/train/forecaster/forecaster.py
  training/src/anemoi/training/utils/checkpoint.py
Labels: training, models, graphs, config, sync, CI/CD

#163 feat!: generalise activation function
  models/docs/introduction/overview.rst
  models/docs/modules/activations.rst
  models/docs/modules/normalization.rst
  models/docs/usage/create_model.rst
  models/src/anemoi/models/distributed/primitives.py
  models/src/anemoi/models/layers/activations.py
  models/src/anemoi/models/layers/attention.py
  models/src/anemoi/models/layers/block.py
  models/src/anemoi/models/layers/chunk.py
  models/src/anemoi/models/layers/conv.py
  models/src/anemoi/models/layers/mapper.py
  models/src/anemoi/models/layers/mlp.py
  models/src/anemoi/models/layers/processor.py
  models/src/anemoi/models/layers/utils.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/schemas/common_components.py
  models/src/anemoi/models/schemas/models.py
  models/tests/layers/block/test_block_graphconv.py
  models/tests/layers/block/test_block_graphtransformer.py
  models/tests/layers/block/test_block_transformer.py
  models/tests/layers/block/test_block_transformermapper.py
  models/tests/layers/chunk/test_chunk_gnn.py
  models/tests/layers/chunk/test_chunk_graphtransformer.py
  models/tests/layers/chunk/test_chunk_transformer.py
  models/tests/layers/mapper/test_base_mapper.py
  models/tests/layers/mapper/test_graphconv_mapper.py
  models/tests/layers/mapper/test_graphtransformer_mapper.py
  models/tests/layers/mapper/test_transformer_mapper.py
  models/tests/layers/processor/test_base_processor.py
  models/tests/layers/processor/test_graphconv_processor.py
  models/tests/layers/processor/test_graphtransformer_processor.py
  models/tests/layers/processor/test_transformer_processor.py
  models/tests/layers/test_activations.py
  models/tests/layers/test_attention.py
  models/tests/layers/test_layer_utils.py
  models/tests/layers/test_mlp.py
  models/tests/layers/test_utils.py
  training/docs/index.rst
  training/docs/user-guide/kcrps-set-up.rst
  training/docs/user-guide/models.rst
  training/src/anemoi/training/config/model/gnn.yaml
  training/src/anemoi/training/config/model/gnn_ens.yaml
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/config/model/graphtransformer_ens.yaml
  training/src/anemoi/training/config/model/transformer.yaml
  training/src/anemoi/training/config/model/transformer_ens.yaml
  training/src/anemoi/training/config/model/transformer_transformermapper.yaml
  training/src/anemoi/training/train/train.py
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.yaml
Labels: bug, enhancement, training, models, config, breaking change, ATS Approval Needed

#340 fix: remove activation entry from MLP noise block
  models/src/anemoi/models/layers/ensemble.py
  models/src/anemoi/models/models/ens_encoder_processor_decoder.py
  models/src/anemoi/models/schemas/models.py
  training/src/anemoi/training/config/model/gnn_ens.yaml
  training/src/anemoi/training/config/model/graphtransformer_ens.yaml
  training/src/anemoi/training/config/model/transformer_ens.yaml
Labels: training, models

#307 docs: downloading era5 o96 dataset
  training/docs/index.rst
  training/docs/user-guide/download-era5-o96.rst
Labels: documentation, training

#333 fix: update defaults for mlflow logging
  training/src/anemoi/training/config/diagnostics/evaluation.yaml
  training/src/anemoi/training/diagnostics/mlflow/logger.py
Labels: training

#344 ci: add notify team step to hpc workflow
  .github/workflows/integration-tests-hpc.yml
Labels: CI/CD
