Repository ecmwf/anemoi-core, pull requests merged in 2025-01, with the labels that each got.

#59 fix(training, plots) Exclude nans from error colorbars
  training/src/anemoi/training/diagnostics/plots.py
Labels: bug, training

#74 fix(training): bump anemoi-datasets required version to 0.5.13
  training/pyproject.toml
Labels: training

#48 feat(graphs,plots): expand support for multi-dimensional node attributes
  graphs/CHANGELOG.md
  graphs/src/anemoi/graphs/plotting/interactive_html.py
Labels: graphs

#64 Implementation of NormalizedReluBounding for non-zero thresholds
  models/CHANGELOG.md
  models/src/anemoi/models/interface/__init__.py
  models/src/anemoi/models/layers/bounding.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/tests/layers/test_bounding.py
  training/src/anemoi/training/config/model/gnn.yaml
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/config/model/transformer.yaml
Labels: enhancement, models

#82 fix: normalise in place to reduce memory
  models/src/anemoi/models/preprocessing/normalizer.py
Labels: models

#53 fix: update graph configs to avoid DeprecationWarning for area weights
  training/src/anemoi/training/config/graph/encoder_decoder_only.yaml
  training/src/anemoi/training/config/graph/limited_area.yaml
  training/src/anemoi/training/config/graph/multi_scale.yaml
  training/src/anemoi/training/config/graph/stretched_grid.yaml
Labels: training, config

#78 feat(models): use num_layers of the processor in hierarchical graphs
  models/src/anemoi/models/models/hierarchical.py
Labels: models

#88 ci: readthedocs fix
  .github/workflows/readthedocs-pr-update.yml
Labels: graphs

#47 feat(models): normalization layers
  models/pyproject.toml
  models/src/anemoi/models/layers/attention.py
  models/src/anemoi/models/layers/block.py
  models/src/anemoi/models/layers/chunk.py
  models/src/anemoi/models/layers/conv.py
  models/src/anemoi/models/layers/mapper.py
  models/src/anemoi/models/layers/mlp.py
  models/src/anemoi/models/layers/normalization.py
  models/src/anemoi/models/layers/processor.py
  models/src/anemoi/models/layers/utils.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/tests/layers/block/test_block_graphconv.py
  models/tests/layers/block/test_block_graphtransformer.py
  models/tests/layers/block/test_block_transformer.py
  models/tests/layers/chunk/test_chunk_gnn.py
  models/tests/layers/chunk/test_chunk_graphtransformer.py
  models/tests/layers/chunk/test_chunk_transformer.py
  models/tests/layers/mapper/test_graphconv_mapper.py
  models/tests/layers/mapper/test_graphtransformer_mapper.py
  models/tests/layers/processor/test_graphconv_processor.py
  models/tests/layers/processor/test_graphtransformer_processor.py
  models/tests/layers/processor/test_transformer_processor.py
  models/tests/layers/test_attention.py
  models/tests/layers/test_mlp.py
  models/tests/layers/test_utils.py
  training/src/anemoi/training/config/model/gnn.yaml
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/config/model/transformer.yaml
Labels: training, models, config

#85 Fix crash in diagnostic plots (colorbar limits)
  training/src/anemoi/training/diagnostics/plots.py
Labels: bug

#90 fix(training): profiler 'Model Summary' works when sharding models over multiple GPUs
  training/CHANGELOG.md
  training/src/anemoi/training/train/profiler.py
  training/src/anemoi/training/train/train.py
Labels: training

#93 fix: default behaviour for kernel_layers when not set in config.
  models/src/anemoi/models/models/encoder_processor_decoder.py
Labels: models

#94 fix: pin dask version to 2024.12.1
  training/pyproject.toml
Labels: training

#97 docs: cancel RTD builds on PRs without change
  .github/workflows/readthedocs-pr-update.yml
  graphs/.readthedocs.yaml
  models/.readthedocs.yaml
  training/.readthedocs.yaml
Labels: documentation, training, models, graphs

#61 feat: Model Freezing ❄️
  training/CHANGELOG.md
  training/docs/user-guide/training.rst
  training/src/anemoi/training/config/training/default.yaml
  training/src/anemoi/training/train/train.py
  training/src/anemoi/training/utils/checkpoint.py
Labels: training

#60 feat: make flash attention configurable
  graphs/tests/test_create.py
  models/CHANGELOG.md
  models/pyproject.toml
  models/pytest.ini
  models/src/anemoi/models/layers/attention.py
  models/src/anemoi/models/layers/block.py
  models/src/anemoi/models/layers/chunk.py
  models/src/anemoi/models/layers/processor.py
  models/tests/layers/block/test_block_transformer.py
  models/tests/layers/chunk/test_chunk_transformer.py
  models/tests/layers/processor/test_transformer_processor.py
  models/tests/layers/test_attention.py
  training/src/anemoi/training/config/model/transformer.yaml
Labels: training, models, graphs

#83 fix: cpu memory savings of sharded dataloader
  training/src/anemoi/training/data/dataset.py
Labels: training

#98 fix: bug in variables ordering in NormalizedReluBounding
  models/src/anemoi/models/layers/bounding.py
  models/tests/layers/test_bounding.py
Labels: bug, models
