Repository ecmwf/anemoi-core, pull requests merged in 2025-04, with the labels that each got.

#164 feat: Add the possibility to train a model with a dry MLflow run ID
  training/src/anemoi/training/commands/config.py
  training/src/anemoi/training/commands/mlflow.py
  training/src/anemoi/training/diagnostics/callbacks/stopping.py
  training/src/anemoi/training/diagnostics/mlflow/logger.py
  training/src/anemoi/training/diagnostics/mlflow/utils.py
  training/src/anemoi/training/train/train.py
Labels: training, models

#225 fix: integration tests
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.yaml
Labels: training

#213 fix: lam rollout
  training/src/anemoi/training/train/forecaster.py
  training/src/anemoi/training/utils/masks.py
  training/tests/unit/utils/test_masks.py
Labels: bug, training

#237 fix: remove pydantic schemas from checkpoint pickled objects
  training/src/anemoi/training/data/datamodule/singledatamodule.py
  training/src/anemoi/training/schemas/graphs/edge_attributes_schemas.py
  training/src/anemoi/training/schemas/graphs/node_attributes_schemas.py
  training/src/anemoi/training/train/train.py
Labels: training, models

#242 fix: Checkpoint path check for multiple tasks/GPUs training
  training/src/anemoi/training/train/train.py
Labels: training

#222 test: AICON config validation (fast)
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.py
Labels: training

#203 chore: rename config validation flag
  training/docs/user-guide/configuring.rst
  training/src/anemoi/training/commands/config.py
  training/src/anemoi/training/config/config.yaml
  training/src/anemoi/training/config/debug.yaml
  training/src/anemoi/training/config/debug_ens.yaml
  training/src/anemoi/training/config/hierarchical.yaml
  training/src/anemoi/training/config/interpolator.yaml
  training/src/anemoi/training/config/lam.yaml
  training/src/anemoi/training/config/stretched.yaml
  training/src/anemoi/training/schemas/base_schema.py
  training/src/anemoi/training/train/train.py
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.yaml
Labels: bug, documentation, training

#172 feat(training): autoencoder 🗜️
  models/src/anemoi/models/models/__init__.py
  models/src/anemoi/models/models/autoencoder.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/models/hierarchical.py
  training/docs/modules/train.rst
  training/src/anemoi/training/config/autoencoder.yaml
  training/src/anemoi/training/config/interpolator.yaml
  training/src/anemoi/training/config/training/default.yaml
  training/src/anemoi/training/schemas/training.py
  training/src/anemoi/training/train/forecaster/__init__.py
  training/src/anemoi/training/train/forecaster/autoencoder.py
  training/src/anemoi/training/train/forecaster/forecaster.py
  training/src/anemoi/training/train/forecaster/interpolator.py
Labels: enhancement, training, models, contributor

#245 fix: correct config comment regarding config_validation flag
  training/src/anemoi/training/config/config.yaml
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.yaml
Labels: training

#247 fix: bugs introduced in autoencoder PR #172
  models/src/anemoi/models/interface/__init__.py
  models/src/anemoi/models/models/autoencoder.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/models/hierarchical.py
  models/src/anemoi/models/models/interpolator.py
  training/src/anemoi/training/config/autoencoder.yaml
  training/src/anemoi/training/config/diagnostics/evaluation.yaml
  training/src/anemoi/training/diagnostics/callbacks/plot.py
  training/src/anemoi/training/train/forecaster/autoencoder.py
  training/src/anemoi/training/train/forecaster/forecaster.py
Labels: training, models

#217 test: add integration tests for stretched and lam use cases
  training/docs/contributing.rst
  training/pyproject.toml
  training/tests/integration/config/test_config.yaml
  training/tests/integration/config/test_lam.yaml
  training/tests/integration/config/test_stretched.yaml
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
Labels: training

#256 feat(models): adding leaky boundings
  models/src/anemoi/models/layers/activations.py
  models/src/anemoi/models/layers/bounding.py
  models/tests/layers/test_bounding.py
  training/src/anemoi/training/schemas/models/models.py
Labels: training, models

#199 feat: edge post-processor
  graphs/docs/graphs/post_processor.rst
  graphs/src/anemoi/graphs/create.py
  graphs/src/anemoi/graphs/processors/__init__.py
  graphs/src/anemoi/graphs/processors/post_process.py
  graphs/src/anemoi/graphs/utils.py
  graphs/tests/conftest.py
  graphs/tests/processors/test_post_process.py
  graphs/tests/test_utils.py
  training/src/anemoi/training/schemas/graphs/post_processors.py
Labels: training, graphs

#258 docs: Update docs for kcrps.
  models/docs/introduction/overview.rst
  models/docs/modules/models.rst
  models/docs/modules/normalization.rst
  training/docs/index.rst
  training/docs/modules/data.rst
  training/docs/modules/losses.rst
  training/docs/modules/strategy.rst
  training/docs/modules/train.rst
  training/docs/user-guide/distributed.rst
  training/docs/user-guide/kcrps-set-up.rst
  training/docs/user-guide/models.rst
  training/docs/user-guide/training.rst
  training/docs/user-guide/yaml/example_crps_config.yaml
  training/src/anemoi/training/diagnostics/callbacks/plot.py
  training/src/anemoi/training/train/forecaster/ensforecaster.py
  training/src/anemoi/training/train/forecaster/forecaster.py
Labels: documentation, training, models

#261 feat: Improve MLflow metadata in mlflow prepare CLI dump
  training/src/anemoi/training/commands/mlflow.py
Labels: training

#260 fix: dry run forking
  training/src/anemoi/training/commands/mlflow.py
  training/src/anemoi/training/diagnostics/logger.py
  training/src/anemoi/training/diagnostics/mlflow/logger.py
  training/src/anemoi/training/train/train.py
Labels: training

#228 fix: pydantic schemas move
  graphs/docs/index.rst
  graphs/docs/modules/schemas.rst
  graphs/src/anemoi/graphs/schemas/__init__.py
  graphs/src/anemoi/graphs/schemas/base_graph.py
  graphs/src/anemoi/graphs/schemas/edge_attributes_schemas.py
  graphs/src/anemoi/graphs/schemas/edge_schemas.py
  graphs/src/anemoi/graphs/schemas/node_attributes_schemas.py
  graphs/src/anemoi/graphs/schemas/node_schemas.py
  graphs/src/anemoi/graphs/schemas/post_processors.py
  models/docs/modules/schemas.rst
  models/src/anemoi/models/schemas/__init__.py
  models/src/anemoi/models/schemas/common_components.py
  models/src/anemoi/models/schemas/decoder.py
  models/src/anemoi/models/schemas/encoder.py
  models/src/anemoi/models/schemas/models.py
  models/src/anemoi/models/schemas/processor.py
  training/docs/modules/schemas.rst
  training/pyproject.toml
  training/src/anemoi/training/schemas/base_schema.py
  training/src/anemoi/training/schemas/data.py
  training/src/anemoi/training/schemas/dataloader.py
  training/src/anemoi/training/schemas/diagnostics.py
  training/src/anemoi/training/schemas/hardware.py
  training/src/anemoi/training/schemas/training.py
  training/src/anemoi/training/schemas/utils.py
Labels: training, models, graphs

#197 chore(main): Release graphs 0.5.1
  .release-please-manifest.json
  graphs/CHANGELOG.md
Labels: graphs, autorelease: pending

#139 chore(main): Release models 0.5.0
  .release-please-manifest.json
  models/CHANGELOG.md
Labels: models, autorelease: pending

#263 fix: update to null and bump versions
  training/pyproject.toml
  training/src/anemoi/training/config/hardware/files/example.yaml
  training/src/anemoi/training/config/hardware/paths/example.yaml
Labels: training

#126 chore(main): Release training 0.4.0
  .release-please-manifest.json
  training/CHANGELOG.md
Labels: training, autorelease: pending

#264 docs: Fix minor mistakes in CRPS user guide.
  training/docs/user-guide/kcrps-set-up.rst
  training/docs/user-guide/yaml/example_crps_config.yaml
Labels: training, Approval not needed

#187 feat(graphs): support edge indices sorting
  graphs/docs/graphs/post_processor.rst
  graphs/src/anemoi/graphs/edges/attributes.py
  graphs/src/anemoi/graphs/processors/__init__.py
  graphs/src/anemoi/graphs/processors/post_process.py
  graphs/src/anemoi/graphs/schemas/post_processors.py
  graphs/src/anemoi/graphs/utils.py
  graphs/tests/conftest.py
  graphs/tests/processors/test_post_process.py
Labels: training, graphs

#188 feat(graphs): add scale_resolutions arg
  graphs/docs/graphs/edges/multi_scale.rst
  graphs/src/anemoi/graphs/edges/builders/multi_scale.py
  graphs/src/anemoi/graphs/generate/multi_scale_edges.py
  graphs/src/anemoi/graphs/schemas/edge_schemas.py
  graphs/tests/edges/test_multiscale_edges.py
  training/src/anemoi/training/config/graph/hierarchical_2level.yaml
  training/src/anemoi/training/config/graph/hierarchical_3level.yaml
  training/src/anemoi/training/config/graph/limited_area.yaml
  training/src/anemoi/training/config/graph/multi_scale.yaml
  training/src/anemoi/training/config/graph/stretched_grid.yaml
Labels: training, graphs

#275 ci: Clean remnants of tests/ directory
  .github/workflows/python-pull-request.yml
Labels: CI/CD, WP4

#273 fix(graphs): rename zarr occurrences in anemoi-graphs
  graphs/docs/_static/hetero_data_graph.txt
  graphs/docs/graphs/node_attributes.rst
  graphs/docs/graphs/node_attributes/anemoi_dataset_attribute.rst
  graphs/docs/graphs/node_coordinates.rst
  graphs/docs/graphs/node_coordinates/anemoi_dataset.rst
  graphs/docs/graphs/yaml/attributes_boolean_operation.yaml
  graphs/docs/graphs/yaml/attributes_cutout.yaml
  graphs/docs/graphs/yaml/attributes_nonmissingzarr.yaml
  graphs/docs/usage/limited_area.rst
  graphs/docs/usage/yaml/cutout_zarr.yaml
  graphs/docs/usage/yaml/lam_nodes_wo_boundary.yaml
  graphs/docs/usage/yaml/nodes.yaml
  graphs/docs/usage/yaml/nodes_with-attrs.yaml
  graphs/src/anemoi/graphs/nodes/__init__.py
  graphs/src/anemoi/graphs/nodes/attributes/masks.py
  graphs/src/anemoi/graphs/nodes/builders/from_file.py
  graphs/src/anemoi/graphs/schemas/node_schemas.py
  graphs/tests/nodes/test_anemoi_dataset.py
  graphs/tests/nodes/test_cutout_nodes.py
Labels: bug, graphs, ATS Approval Not Needed

#269 chore(main): Release graphs 0.5.2
  .release-please-manifest.json
  graphs/CHANGELOG.md
Labels: graphs, autorelease: pending

#276 fix(training): bump anemoi-graphs version to 0.5.2
  training/pyproject.toml
  training/src/anemoi/training/config/graph/encoder_decoder_only.yaml
  training/src/anemoi/training/config/graph/hierarchical_2level.yaml
  training/src/anemoi/training/config/graph/hierarchical_3level.yaml
  training/src/anemoi/training/config/graph/limited_area.yaml
  training/src/anemoi/training/config/graph/multi_scale.yaml
  training/src/anemoi/training/config/graph/stretched_grid.yaml
Labels: training

#253 test: aicon metadata
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.py
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.yaml
Labels: training, ATS Approval Not Needed, WP4

#277 fix: Fix inference with kcrps
  models/src/anemoi/models/interface/__init__.py
  training/src/anemoi/training/config/model/gnn.yaml
  training/src/anemoi/training/config/model/gnn_ens.yaml
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/config/model/graphtransformer_ens.yaml
  training/src/anemoi/training/config/model/transformer.yaml
  training/src/anemoi/training/config/model/transformer_ens.yaml
  training/src/anemoi/training/train/forecaster/forecaster.py
Labels: training, models, breaking change

#285 ci: fix install mode in pr action
  .github/workflows/python-pull-request.yml
Labels: skip-ci-release-tests, CI/CD

#254 chore: Define minimum versions for all dependencies.
  graphs/pyproject.toml
  models/pyproject.toml
  training/pyproject.toml
Labels: training, models, graphs, ATS Approval Not Needed, WP4

#278 chore(main): Release models 0.5.1
  .release-please-manifest.json
  models/CHANGELOG.md
Labels: models, autorelease: pending
