Repository ecmwf/anemoi-core, pull requests merged in 2025-10, with the labels that each got.

#575 Multi dataset update 1
  models/src/anemoi/models/models/encoder_processor_decoder.py
  training/src/anemoi/training/config/diagnostics/evaluation.yaml
  training/src/anemoi/training/data/datamodule/singledatamodule.py
  training/src/anemoi/training/train/train.py
  training/src/anemoi/training/utils/worker_init.py
Labels: training, models

#576 fix(training): Correct Imputer Doc
  training/docs/user-guide/training.rst
Labels: training, ATS Approval Not Needed

#512 chore(training): Add explicit encoder/decoder shard_strategy in all model configs
  training/src/anemoi/training/config/model/graphtransformer_diffusion.yaml
  training/src/anemoi/training/config/model/graphtransformer_diffusiontend.yaml
  training/src/anemoi/training/config/model/graphtransformer_ens.yaml
  training/src/anemoi/training/config/model/transformer_diffusion.yaml
  training/src/anemoi/training/config/model/transformer_diffusiontend.yaml
  training/src/anemoi/training/config/model/transformer_transformermapper.yaml
Labels: training, ATS Approved

#578 fix: interactive mode
  training/src/anemoi/training/diagnostics/callbacks/sanity.py
Labels: training, ATS Approval Not Needed

#440 feat: introducing AnemoiBaseModel
  models/README.md
  models/docs/introduction/overview.rst
  models/src/anemoi/models/distributed/shapes.py
  models/src/anemoi/models/layers/bounding.py
  models/src/anemoi/models/layers/mapper.py
  models/src/anemoi/models/layers/truncation.py
  models/src/anemoi/models/models/__init__.py
  models/src/anemoi/models/models/base.py
  models/src/anemoi/models/models/diffusion_encoder_processor_decoder.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/models/ens_encoder_processor_decoder.py
  models/src/anemoi/models/models/hierarchical.py
  models/src/anemoi/models/models/interpolator.py
  models/tests/layers/mapper/test_graphtransformer_mapper.py
Labels: models, ATS Approved
