Repository ecmwf/anemoi-core, pull requests merged in 2025-02, with the labels that each got.

#72 feat(models): Copy Imputer
  models/src/anemoi/models/preprocessing/imputer.py
Labels: enhancement, models

#62 feat(graphs): New Edge Attribute: AttributeFromNode
  graphs/docs/graphs/edge_attributes.rst
  graphs/src/anemoi/graphs/edges/attributes.py
  graphs/tests/edges/test_edge_attributes.py
Labels: enhancement, graphs

#100 ci: Propose release-please implementation
  .github/workflows/python-publish.yml
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
Labels: CI/CD

#110 chore(main): Preparing Next Release for anemoi-graphs 0.4.3
  .release-please-manifest.json
  graphs/CHANGELOG.md
Labels: graphs, autorelease: pending

#111 chore(main): Preparing Next Release for anemoi-graphs 0.4.4
  .release-please-manifest.json
  graphs/CHANGELOG.md
Labels: graphs, autorelease: pending

#112 chore(main): Preparing Next Release for training 0.3.3
  .release-please-manifest.json
  training/CHANGELOG.md
Labels: training, autorelease: pending

#119 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/pull_request_template.md
Labels: sync, CI/CD

#125 fix(training,configs): update encoder-decoder graph
  training/src/anemoi/training/config/graph/encoder_decoder_only.yaml
Labels: training

#122 fix(graphs): load weights works for torch v2.6 and beyond
  graphs/src/anemoi/graphs/describe.py
  graphs/src/anemoi/graphs/inspect.py
Labels: graphs

#115 feat(training): Add initial TimeLimit callback
  training/src/anemoi/training/diagnostics/callbacks/__init__.py
  training/src/anemoi/training/diagnostics/callbacks/stopping.py
  training/tests/diagnostics/callbacks/test_timelimit.py
Labels: training

#128 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/pull_request_template.md
  .github/workflows/pr-label-conventional-commits.yml
Labels: sync, CI/CD

#113 chore(main): Preparing Next Release for models 0.4.2
  .release-please-manifest.json
  models/CHANGELOG.md
Labels: models, autorelease: pending

#135 ci: fix pr action
  .github/workflows/python-pull-request.yml
Labels: CI/CD

#138 ci: update develop to main in push_to_private action
  .github/workflows/push-to-private.yml
Labels: CI/CD

#124 feat: make colormaps configurable for groups of variable
  training/pyproject.toml
  training/src/anemoi/training/config/diagnostics/plot/detailed.yaml
  training/src/anemoi/training/config/diagnostics/plot/rollout_eval.yaml
  training/src/anemoi/training/config/diagnostics/plot/simple.yaml
  training/src/anemoi/training/diagnostics/callbacks/plot.py
  training/src/anemoi/training/diagnostics/plots.py
  training/src/anemoi/training/schemas/diagnostics.py
  training/src/anemoi/training/utils/custom_colormaps.py
Labels: enhancement, training

#130 feat: Add EarlyStopping Wrapper
  training/src/anemoi/training/diagnostics/callbacks/stopping.py
  training/src/anemoi/training/schemas/diagnostics.py
Labels: enhancement, training

#145 fix: revert models min torch version to 2.2
  models/pyproject.toml
Labels: models

#137 feat: Add a CLI to dump the configuration in a single YAML file.
  training/src/anemoi/training/commands/config.py
  training/tests/commands/test_config.py
Labels: training

#149 docs: Add subheadings to schema doc page
  graphs/pyproject.toml
  models/pyproject.toml
  training/docs/modules/schemas.rst
  training/pyproject.toml
Labels: documentation, training, models, graphs

#150 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/pull_request_template.md
Labels: sync, CI/CD

#152 fix(graphs): make exception agnostic of zarr version
  graphs/tests/nodes/test_zarr.py
Labels: bug, graphs

#143 fix: dataset schema too defined too strictly
  training/docs/user-guide/configuring.rst
  training/src/anemoi/training/commands/config.py
  training/src/anemoi/training/config/model/gnn.yaml
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/config/model/transformer.yaml
  training/src/anemoi/training/schemas/base_schema.py
  training/src/anemoi/training/schemas/dataloader.py
  training/src/anemoi/training/schemas/hardware.py
Labels: bug, training

#144 fix: updates to schemas to correct minor pydantic issues
  training/docs/user-guide/debugging.rst
  training/src/anemoi/training/config/diagnostics/plot/none.yaml
  training/src/anemoi/training/schemas/models/common_components.py
  training/src/anemoi/training/schemas/models/models.py
Labels: training

#154 docs: fix documentation to refer to anemoi datasets instead of zarr datasets
  graphs/docs/graphs/node_attributes/boolean_operations.rst
  graphs/docs/graphs/node_attributes/zarr_attribute.rst
  graphs/docs/graphs/node_coordinates/zarr_dataset.rst
  graphs/docs/index.rst
  graphs/docs/overview.rst
  graphs/src/anemoi/graphs/nodes/attributes.py
  graphs/src/anemoi/graphs/nodes/builders/from_file.py
  models/docs/modules/data_indices.rst
  training/src/anemoi/training/data/dataset.py
  training/src/anemoi/training/schemas/graphs/node_attributes_schemas.py
  training/src/anemoi/training/schemas/graphs/node_schemas.py
Labels: documentation, enhancement, training, models, graphs

#140 docs: use new logo
  graphs/docs/_static/logo.png
  models/docs/_static/logo.png
  training/docs/_static/logo.png
Labels: documentation, training, models, graphs

#104 fix: datashader new release test
  training/pyproject.toml
  training/src/anemoi/training/diagnostics/callbacks/plot.py
Labels: training
