Repository ecmwf/anemoi-core, pull requests merged in 2025-07, with the labels that each got.

#384 ci: PR workflow to check ATS labels
  .github/workflows/pr-label-ats.yml
Labels: CI/CD, ATS Approval Not Needed

#405 fix: Update level retrieval logic
  training/src/anemoi/training/losses/loss.py
  training/src/anemoi/training/losses/scalers/variable.py
  training/src/anemoi/training/losses/scalers/variable_level.py
  training/src/anemoi/training/train/forecaster/forecaster.py
  training/src/anemoi/training/utils/variables_metadata.py
  training/tests/unit/train/test_loss_scaling.py
  training/tests/unit/utils/test_variable_grouping.py
Labels: bug, training

#315 feat(model): postprocessors for leaky boundings
  models/src/anemoi/models/layers/activations.py
  models/src/anemoi/models/layers/bounding.py
  models/src/anemoi/models/preprocessing/__init__.py
  models/src/anemoi/models/preprocessing/postprocessor.py
  models/tests/layers/test_bounding.py
  models/tests/preprocessing/test_postprocessor.py
  training/src/anemoi/training/diagnostics/plots.py
  training/src/anemoi/training/schemas/data.py
Labels: enhancement, training, models, ATS Approval Needed, earth system components

#409 fix(graphs): revert PR #397
  graphs/src/anemoi/graphs/create.py
Labels: bug, graphs, ATS Approval Not Needed

#408 test: parametrize diffusion test
  training/tests/integration/config/test_diffusiontend.yaml
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
Labels: training

#391 fix(training): scaler memory usage
  training/src/anemoi/training/losses/base.py
  training/src/anemoi/training/losses/scaler_tensor.py
  training/tests/unit/train/test_scaler.py
Labels: enhancement, help wanted, training, ATS Approval Not Needed

#385 fix(models): uneven channel sharding
  models/src/anemoi/models/distributed/primitives.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/models/ens_encoder_processor_decoder.py
  models/src/anemoi/models/models/hierarchical.py
  models/src/anemoi/models/models/interpolator.py
Labels: models, ATS Approval Not Needed

#422 fix: pydantic model validator not working in transformer schema
  models/src/anemoi/models/schemas/processor.py
Labels: bug, models, ATS Approval Not Needed

#366 feat(models): Mapper edge sharding
  models/src/anemoi/models/distributed/graph.py
  models/src/anemoi/models/distributed/khop_edges.py
  models/src/anemoi/models/layers/block.py
  models/src/anemoi/models/layers/mapper.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/schemas/decoder.py
  models/src/anemoi/models/schemas/encoder.py
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/config/model/graphtransformer_ens.yaml
  training/src/anemoi/training/config/model/transformer.yaml
  training/src/anemoi/training/config/model/transformer_ens.yaml
  training/src/anemoi/training/config/model/transformer_transformermapper.yaml
Labels: bug, enhancement, training, models, ATS Approved, ATS Approval Needed

#400 fix: hierarchical model + integration test
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/models/hierarchical.py
  models/src/anemoi/models/schemas/models.py
  training/src/anemoi/training/config/graph/hierarchical_2level.yaml
  training/src/anemoi/training/config/graph/hierarchical_3level.yaml
  training/src/anemoi/training/train/forecaster/forecaster.py
  training/src/anemoi/training/train/train.py
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
Labels: training, models, graphs, CI/CD, contributor, maintenance, ATS Approval Not Needed

#418 feat(deps): Use mlflow-skinny instead of mlflow
  training/pyproject.toml
Labels: enhancement, training, ATS Approved, ATS Approval Needed

#414 fix: mlflowlogger duplicated key
  training/src/anemoi/training/diagnostics/mlflow/logger.py
  training/src/anemoi/training/diagnostics/mlflow/utils.py
  training/tests/unit/diagnostics/mlflow/test_mlflow_logger.py
  training/tests/unit/diagnostics/mlflow/test_mlflow_utils.py
Labels: training, ATS Approval Not Needed

#423 docs(graphs): documenting some missing features
  graphs/docs/cli/introduction.rst
  graphs/docs/graphs/edge_attributes.rst
  graphs/docs/graphs/node_attributes/boolean_operations.rst
  graphs/docs/graphs/node_attributes/weights.rst
  graphs/docs/graphs/yaml/attributes_cosine_lat_weighted.yaml
  graphs/docs/graphs/yaml/attributes_isolatitude_area_weights.yaml
  graphs/docs/graphs/yaml/attributes_masked_planar_area_weights.yaml
  graphs/docs/index.rst
  graphs/docs/usage/create_sparse_matrices.rst
  graphs/docs/usage/limited_area.rst
  graphs/docs/usage/yaml/sparse_matrices.yaml
  graphs/src/anemoi/graphs/edges/attributes.py
  graphs/src/anemoi/graphs/nodes/attributes/area_weights.py
  training/docs/modules/losses.rst
  training/docs/user-guide/models.rst
Labels: documentation, training, graphs, ATS Approval Not Needed

#406 feat(models): Checkpointed Mapper Chunking
  models/src/anemoi/models/layers/block.py
  models/src/anemoi/models/layers/mapper.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/tests/layers/block/test_block_graphtransformer.py
  models/tests/layers/mapper/test_graphtransformer_mapper.py
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/config/model/graphtransformer_ens.yaml
  training/src/anemoi/training/config/model/transformer.yaml
  training/src/anemoi/training/config/model/transformer_ens.yaml
Labels: enhancement, training, models, ATS Approved, ATS Approval Needed

#424 fix: mlflow hp params limit
  training/src/anemoi/training/config/diagnostics/evaluation.yaml
  training/src/anemoi/training/diagnostics/logger.py
  training/src/anemoi/training/diagnostics/mlflow/logger.py
  training/src/anemoi/training/schemas/diagnostics.py
  training/tests/unit/diagnostics/mlflow/test_mlflow_logger.py
Labels: training, ATS Approval Not Needed

#445 fix: new checkpoint
  training/tests/integration/conftest.py
Labels: training, ATS Approval Not Needed

#447 chore: Type hints and formatting for >=3.10
  graphs/docs/conf.py
  graphs/src/anemoi/graphs/edges/builders/masking.py
  graphs/src/anemoi/graphs/edges/builders/multi_scale.py
  graphs/src/anemoi/graphs/export.py
  graphs/src/anemoi/graphs/generate/utils.py
  graphs/src/anemoi/graphs/nodes/attributes/area_weights.py
  graphs/src/anemoi/graphs/nodes/attributes/boolean_op.py
  graphs/tests/nodes/attributes/test_weights.py
  graphs/tests/nodes/test_icon.py
  training/src/anemoi/training/train/tasks/ensforecaster.py
  training/src/anemoi/training/train/tasks/forecaster.py
Labels: training, graphs, ATS Approval Not Needed
