Repository ecmwf/anemoi-core, pull requests merged in 2025-03, with the labels that each got.

#169 fix(training,schema): error when using ReweightedGraphNodeAttribute
  training/src/anemoi/training/config/graph/stretched_grid.yaml
  training/src/anemoi/training/config/stretched.yaml
  training/src/anemoi/training/schemas/training.py
Labels: bug, training

#170 chore(training): Update ruff lint settings
  training/pyproject.toml
Labels: training

#46 feat(training,rollout)!: Rollout Schedulers
  training/docs/modules/schedulers.rst
  training/docs/modules/schemas.rst
  training/docs/user-guide/training.rst
  training/src/anemoi/training/config/training/default.yaml
  training/src/anemoi/training/data/datamodule.py
  training/src/anemoi/training/data/dataset.py
  training/src/anemoi/training/diagnostics/callbacks/__init__.py
  training/src/anemoi/training/diagnostics/callbacks/plot.py
  training/src/anemoi/training/diagnostics/callbacks/rollout.py
  training/src/anemoi/training/diagnostics/mlflow/logger.py
  training/src/anemoi/training/schedulers/__init__.py
  training/src/anemoi/training/schedulers/rollout/__init__.py
  training/src/anemoi/training/schedulers/rollout/indexed.py
  training/src/anemoi/training/schedulers/rollout/randomise.py
  training/src/anemoi/training/schedulers/rollout/stepped.py
  training/src/anemoi/training/schedulers/schedulers.py
  training/src/anemoi/training/schedulers/utils.py
  training/src/anemoi/training/schemas/schedulers.py
  training/src/anemoi/training/schemas/training.py
  training/src/anemoi/training/train/forecaster.py
  training/src/anemoi/training/train/train.py
  training/tests/diagnostics/callbacks/test_rollout.py
  training/tests/diagnostics/test_callbacks.py
  training/tests/schedulers/__init__.py
  training/tests/schedulers/rollout/__init__.py
  training/tests/schedulers/rollout/test_indexed.py
  training/tests/schedulers/rollout/test_random.py
  training/tests/schedulers/rollout/test_rollout.py
  training/tests/schedulers/rollout/test_stepped.py
Labels: documentation, enhancement, training, config, breaking change

#184 Revert "feat(training,rollout)!: Rollout Schedulers"
  training/docs/modules/schedulers.rst
  training/docs/modules/schemas.rst
  training/docs/user-guide/training.rst
  training/src/anemoi/training/config/training/default.yaml
  training/src/anemoi/training/data/datamodule.py
  training/src/anemoi/training/data/dataset.py
  training/src/anemoi/training/diagnostics/callbacks/__init__.py
  training/src/anemoi/training/diagnostics/callbacks/plot.py
  training/src/anemoi/training/diagnostics/callbacks/rollout.py
  training/src/anemoi/training/diagnostics/mlflow/logger.py
  training/src/anemoi/training/schedulers/__init__.py
  training/src/anemoi/training/schedulers/rollout/__init__.py
  training/src/anemoi/training/schedulers/rollout/indexed.py
  training/src/anemoi/training/schedulers/rollout/randomise.py
  training/src/anemoi/training/schedulers/rollout/stepped.py
  training/src/anemoi/training/schedulers/schedulers.py
  training/src/anemoi/training/schedulers/utils.py
  training/src/anemoi/training/schemas/schedulers.py
  training/src/anemoi/training/schemas/training.py
  training/src/anemoi/training/train/forecaster.py
  training/src/anemoi/training/train/train.py
  training/tests/diagnostics/callbacks/test_rollout.py
  training/tests/diagnostics/test_callbacks.py
  training/tests/schedulers/__init__.py
  training/tests/schedulers/rollout/__init__.py
  training/tests/schedulers/rollout/test_indexed.py
  training/tests/schedulers/rollout/test_random.py
  training/tests/schedulers/rollout/test_rollout.py
  training/tests/schedulers/rollout/test_stepped.py
Labels: training

#176 fix(graphs,training): skip hidden attributes
  training/src/anemoi/training/config/graph/existing_graph.yaml
  training/src/anemoi/training/config/graph/stretched_grid.yaml
  training/src/anemoi/training/schemas/graphs/node_schemas.py
  training/src/anemoi/training/schemas/hardware.py
  training/src/anemoi/training/schemas/training.py
  training/src/anemoi/training/train/forecaster.py
Labels: bug, training, graphs

#151 test: initial integration tests
  .github/workflows/integration-tests.yml
  .github/workflows/python-pull-request.yml
  tests/test_integration.py
  training/docs/dev/testing.rst
  training/tests/integration/config/test_basic.yaml
  training/tests/integration/config/testing_modifications.yaml
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
  training/tests/unit/commands/test_config.py
  training/tests/unit/conftest.py
  training/tests/unit/diagnostics/callbacks/test_timelimit.py
  training/tests/unit/diagnostics/callbacks/test_variable_order.py
  training/tests/unit/diagnostics/mlflow/test_auth.py
  training/tests/unit/diagnostics/mlflow/test_client.py
  training/tests/unit/diagnostics/mlflow/test_expansion.py
  training/tests/unit/diagnostics/test_callbacks.py
  training/tests/unit/diagnostics/test_checkpoint.py
  training/tests/unit/hydra/test_search_path_plugins.py
  training/tests/unit/requirements.txt
  training/tests/unit/train/test_loss_function.py
  training/tests/unit/train/test_loss_scaling.py
  training/tests/unit/train/test_nodeweights.py
  training/tests/unit/train/test_scalar.py
  training/tests/unit/utils/test_usable_indices.py
Labels: bug, training, CI/CD

#186 feat(mlflow): Make direct endpoint calls robust
  training/pyproject.toml
  training/src/anemoi/training/diagnostics/mlflow/auth.py
  training/src/anemoi/training/diagnostics/mlflow/utils.py
Labels: enhancement, training

#193 fix: add reference in integration test workflow
  .github/workflows/integration-tests.yml
Labels: CI/CD

#116 chore(main): Release graphs 0.5.0
  .release-please-manifest.json
  graphs/CHANGELOG.md
Labels: graphs, autorelease: pending

#195 fix: update stretched.yaml config to be consistent with schema
  training/src/anemoi/training/config/stretched.yaml
Labels: bug, training

#196 fix(graphs): torch_geometric version < 2.5
  graphs/pyproject.toml
Labels: bug, graphs

#200 fix: fix --longtests not available
  training/docs/dev/testing.rst
  training/pytest.ini
  training/tests/conftest.py
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
Labels: bug, training, CI/CD

#76 test: test aicon in CI with pytest
  graphs/src/anemoi/graphs/edges/builders/icon.py
  training/src/anemoi/training/schemas/graphs/node_schemas.py
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.py
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.yaml
Labels: training, graphs, CI/CD

#206 fix(graphs): load graphs to cpu during inspection
  graphs/src/anemoi/graphs/describe.py
  graphs/src/anemoi/graphs/inspect.py
Labels: graphs

#194 test: add config validation for architecture configs
  training/tests/integration/test_training_cycle.py
Labels: training

#153 feat(models,training)!: temporal interpolation
  models/src/anemoi/models/models/__init__.py
  models/src/anemoi/models/models/encoder_processor_decoder.py
  models/src/anemoi/models/models/interpolator.py
  training/src/anemoi/training/config/interpolator.yaml
  training/src/anemoi/training/config/training/default.yaml
  training/src/anemoi/training/data/datamodule.py
  training/src/anemoi/training/data/dataset.py
  training/src/anemoi/training/schemas/models/models.py
  training/src/anemoi/training/schemas/training.py
  training/src/anemoi/training/train/interpolator.py
  training/src/anemoi/training/train/train.py
  training/src/anemoi/training/utils/usable_indices.py
  training/tests/integration/aicon/test_cicd_aicon_04_icon-dream_medium.yaml
  training/tests/unit/utils/test_usable_indices.py
Labels: bug, training, models, breaking change

#216 fix: Rename model_run_ids as trajectory_ids
  training/src/anemoi/training/data/datamodule.py
  training/src/anemoi/training/data/dataset.py
  training/src/anemoi/training/utils/usable_indices.py
  training/tests/unit/utils/test_usable_indices.py
Labels: training

#218 test: fix relative paths for downstream ci
  training/tests/integration/conftest.py
Labels: training

#219 docs(graphs): update graph docs to template (docathon)
  graphs/docs/conf.py
  graphs/docs/contributing.rst
  graphs/docs/dev/code_structure.rst
  graphs/docs/dev/contributing.rst
  graphs/docs/dev/testing.rst
  graphs/docs/index.rst
  graphs/docs/installing.rst
Labels: graphs

#201 docs(training): Docathon
  graphs/docs/_static/logo.png
  graphs/docs/requirements.txt
  models/docs/_static/logo.png
  training/docs/Makefile
  training/docs/_static/logo.png
  training/docs/conf.py
  training/docs/contributing.rst
  training/docs/dev/code-structure.rst
  training/docs/dev/contributing.rst
  training/docs/dev/testing.rst
  training/docs/index.rst
  training/docs/installing.rst
  training/docs/introduction/installing.rst
  training/docs/introduction/overview.rst
  training/docs/requirements.txt
  training/docs/troubleshooting.rst
  training/docs/user-guide/basic-set-up.rst
  training/docs/user-guide/configuring.rst
  training/docs/user-guide/hydra-intro.rst
  training/docs/user-guide/overview.rst
  training/docs/user-guide/training.rst
  training/docs/user-guide/yaml/dataloader.yaml
Labels: training, models, graphs

#220 docs: Add reference in training getting started guide for intersphinx
  training/docs/user-guide/overview.rst
Labels: documentation, training

#221 fix(configs,schemas): hierarchical schemas
  training/src/anemoi/training/config/graph/hierarchical_2level.yaml
  training/src/anemoi/training/config/graph/hierarchical_3level.yaml
  training/src/anemoi/training/schemas/graphs/base_graph.py
  training/src/anemoi/training/schemas/models/models.py
Labels: training
