Repository ecmwf/anemoi-core, pull requests merged in 2025-09, with the labels that each got.

#471 fix(graph): update RestrictEdgeLength schema
  graphs/src/anemoi/graphs/schemas/post_processors.py
Labels: bug, graphs, ATS Approval Not Needed

#403 ci: memory and performance tests in CI
  .github/workflows/integration-tests-hpc.yml
  training/docs/user-guide/benchmarking.rst
  training/pyproject.toml
  training/pytest.ini
  training/src/anemoi/training/config/model/graphtransformer.yaml
  training/src/anemoi/training/diagnostics/benchmark_server.py
  training/src/anemoi/training/diagnostics/profilers.py
  training/src/anemoi/training/schemas/dataloader.py
  training/tests/conftest.py
  training/tests/integration/config/benchmark/base.yaml
  training/tests/integration/config/benchmark/ensemble_crps.yaml
  training/tests/integration/config/benchmark/graphtransformer.yaml
  training/tests/integration/config/benchmark/lam.yaml
  training/tests/integration/config/benchmark/stretched.yaml
  training/tests/integration/conftest.py
  training/tests/integration/test_benchmark.py
Labels: training, CI/CD, ATS Approved

#518 fix: increase timeout on benchmark github action
  .github/workflows/integration-tests-hpc.yml
Labels: CI/CD, ATS Approval Not Needed

#529 fix(graphs): move edge_indinces to cpu for post processors
  graphs/src/anemoi/graphs/processors/post_process.py
Labels: bug, graphs, ATS Approval Not Needed

#527 fix: remove useless code
  training/src/anemoi/training/diagnostics/profilers.py
Labels: enhancement, training, ATS Approval Not Needed

#531 fix: set correct base package for migrations imports
  models/src/anemoi/models/migrations/migrator.py
Labels: bug, models, ATS Approval Not Needed

#525 fix: outdated docs for loss functions
  training/docs/modules/losses.rst
  training/docs/user-guide/training.rst
Labels: training, ATS Approval Not Needed

#536 fix: truncation shard shapes
  models/src/anemoi/models/models/encoder_processor_decoder.py
Labels: bug, ATS Approval Not Needed

#541 chore(deps,training): update models dep
  training/pyproject.toml
Labels: training, ATS Approval Not Needed

#426 feat: target indices
  models/docs/modules/data_indices.rst
  models/src/anemoi/models/data_indices/collection.py
  models/src/anemoi/models/data_indices/index.py
  models/src/anemoi/models/data_indices/tensor.py
  models/src/anemoi/models/layers/bounding.py
  models/tests/data_indices/test_collection.py
  models/tests/data_indices/test_data_indices.py
  training/src/anemoi/training/schemas/data.py
Labels: enhancement, training, models, ATS Approved, ATS Approval Needed

#528 fix: remove batch_idx when useless
  training/src/anemoi/training/train/tasks/base.py
  training/src/anemoi/training/train/tasks/ensforecaster.py
  training/src/anemoi/training/train/tasks/forecaster.py
  training/src/anemoi/training/train/tasks/interpolator.py
Labels: enhancement, training, ATS Approval Not Needed

#564 fix: Make TimeLimit callback compliant with multiple nodes
  training/src/anemoi/training/diagnostics/callbacks/stopping.py
Labels: training, ATS Approval Not Needed
