Repository ecmwf/anemoi-core, pull requests merged in 2025-08, with the labels that each got.

#443 fix: warm restart
  training/docs/user-guide/training.rst
  training/src/anemoi/training/config/hardware/paths/example.yaml
  training/src/anemoi/training/schemas/hardware.py
  training/src/anemoi/training/train/train.py
  training/tests/unit/train/test_restarting_run.py
Labels: bug, documentation, enhancement, training, ATS Approval Not Needed

#457 chore: update anemoi-utils dependency version
  training/pyproject.toml
Labels: training, ATS Approval Not Needed

#450 refactor: improve conftest types in training tests
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
Labels: enhancement, training, ATS Approval Not Needed

#378 feat(models): nan locations in imputer calculated on the fly
  models/docs/modules/preprocessing.rst
  models/src/anemoi/models/interface/__init__.py
  models/src/anemoi/models/preprocessing/imputer.py
  models/tests/preprocessing/test_preprocessor_imputer.py
  training/src/anemoi/training/config/data/zarr.yaml
  training/src/anemoi/training/diagnostics/callbacks/plot.py
  training/src/anemoi/training/losses/scalers/loss_weights_mask.py
  training/tests/integration/config/imputer_modifications.yaml
  training/tests/integration/conftest.py
Labels: training, models, ATS Approved, ATS Approval Needed

#462 chore: Release main
  .release-please-manifest.json
  graphs/CHANGELOG.md
  models/CHANGELOG.md
  training/CHANGELOG.md
Labels: training, models, graphs, autorelease: pending

#473 ci: Update integration test hpc user
  .github/workflows/integration-tests-hpc.yml
Labels: CI/CD, ATS Approval Not Needed

#460 fix: mlflow sync cleaning
  training/src/anemoi/training/utils/mlflow_sync.py
Labels: training, ATS Approval Not Needed

#466 fix: update variable groups in lam, ensemble and stretched config files
  training/src/anemoi/training/config/training/default.yaml
  training/src/anemoi/training/config/training/ensemble.yaml
  training/src/anemoi/training/config/training/interpolator.yaml
  training/src/anemoi/training/config/training/lam.yaml
  training/src/anemoi/training/config/training/stretched.yaml
  training/src/anemoi/training/utils/variables_metadata.py
  training/tests/unit/utils/test_variable_grouping.py
Labels: bug, training, ATS Approved

#491 fix(training): sharding nan_loss_mask scaler
  training/src/anemoi/training/diagnostics/callbacks/plot.py
  training/src/anemoi/training/losses/scaler_tensor.py
Labels: bug, training, ATS Approval Not Needed

#503 fix: convert pre_processors from attribute to variable in models/encoder_processor_decoder
  models/src/anemoi/models/models/encoder_processor_decoder.py
Labels: models, ATS Approval Not Needed

#499 chore: Release main
  .release-please-manifest.json
  models/CHANGELOG.md
  training/CHANGELOG.md
Labels: training, models, autorelease: pending

#386 feat: checkpoint migrations
  models/docs/cli/migration.rst
  models/docs/contributing.rst
  models/docs/create-migrations.rst
  models/docs/index.rst
  models/docs/modules/migrations.rst
  models/pyproject.toml
  models/src/anemoi/models/commands/migration.py
  models/src/anemoi/models/migrations/__init__.py
  models/src/anemoi/models/migrations/migrator.py
  models/src/anemoi/models/migrations/scripts/1755530253_initial.py
  models/src/anemoi/models/migrations/setup_context.py
  models/tests/migrations/conftest.py
  models/tests/migrations/migrations/1750840837_add_foo.py
  models/tests/migrations/migrations/1750841219_add_bar.py
  models/tests/migrations/migrations/1750859824_add_baz.py
  models/tests/migrations/migrations/1750859905_rename_baz.py
  models/tests/migrations/migrations/1751895180_final.py
  models/tests/migrations/migrations/1751895203_recent.py
  models/tests/migrations/test_migration_order.py
  models/tests/migrations/test_migrations.py
  training/src/anemoi/training/diagnostics/callbacks/__init__.py
  training/src/anemoi/training/utils/checkpoint.py
  training/tests/integration/conftest.py
  training/tests/integration/test_training_cycle.py
  training/tests/unit/diagnostics/test_callbacks.py
Labels: enhancement, training, models, ATS Approved

#492 ci: Add checkpoint migrations workflow
  .github/workflows/pr-release.yml
Labels: CI/CD, ATS Approval Not Needed
